{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h1 class="mb-4">

    Dashboard

</h1>

<div class="row g-4">

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6 class="text-muted">
                    Students
                </h6>

                <h2>
                    0
                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6 class="text-muted">
                    Teachers
                </h6>

                <h2>
                    0
                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6 class="text-muted">
                    Courses
                </h6>

                <h2>
                    0
                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6 class="text-muted">
                    Sections
                </h6>

                <h2>
                    0
                </h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}